<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../assets/css/adminlogin.css">
    <title>Login</title>
</head>
<body>
    <div class="main-login">
        <div class="left-login">
            <h1>Services on your Way!<br></h1>
            <img src="../assets/images/asds.svg" class="left-login-image" alt="Login Illustration" style="width: 300px;">
        </div>
        <div class="right-login">
            <div class="card-login">
                <h1>Student</h1>
                <div class="textfield">
                    <label for="username">Username</label>
                    <input type="text" id="username" name="username" placeholder="mail@am.amrita.edu">
                </div>
                <div class="textfield">
                    <label for="password">Password</label>
                    <input type="password" id="password" name="password" placeholder="password">
                </div>
                <button class="btn-login" onclick="login()">Login</button>
                <div class="btn-plus">
                    <a class="btn-forgot-password" href="contactadmin.html">Forgot password? <span class="span-cadastre-se"></span></a>
                </div>
            </div>
        </div>
    </div>

    <script src="../js/adminlogin.js"></script>
</body>
</html>
