<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="../assets/css/loginpage.css">
        <title>Login</title>
    </head>
    <body>
        <div class="main-login">
            <div class="left-login">
                <h1>Services on your Way!<br></h1>
                <img src="../assets/images/asds.svg" class="left-login-image" alt="" style="width: 300px;">
            </div>

            <div class="right-login">
                <div class="card-login">
                    <h1>Student</h1>
                    <div class="textfield">
                        <label for="username">Username</label>
                        <input type="text" name="username" placeholder="mail@am.students.amrita.edu">
                    </div>
                    <div class="textfield">
                        <label for="password">Password</label>
                        <input type="password" name="password" placeholder="password">
                    </div>
                    <button class="btn-login">Login</button>
                    <div class="btn-plus">
                        <a class="btn-cadastre-se" href="contactadmin.html">forgot password? <span class="span-cadastre-se"></span></a>
                    </div>
                </div>
            </div>
        </div>
    </body>
</html>